<a href="https://colab.research.google.com/github/mehrdadkazemi254/Python/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries are mapping of unique keys to values

Key: Independent variable
 
Value: Dependent variable

In [34]:
import csv

with open(r"/content/treeorderssubsetnodupes.csv", mode='r') as infile:
  reader = csv.reader(infile)

  my_dict = {}
  
  for row in reader:
    key = row[0]
    my_dict[key] = row[1]
# now all the elements in the first column are keys and all the elements in the second column are associated values
# we just turned our data into a dict

# **How to find the max value and the key associated with it**

In [35]:
sal_info = {"Austin": 78000, 'New York': 87000, 'Atlanta': 88000, 'Toronto': 99000}

max_key = max(sal_info, key=sal_info.get)
print('max key',max_key)

min_key = min(sal_info, key=sal_info.get)
print('min key',min_key)

max key Toronto
min key Austin

In [36]:
#to find the max value, we turn it into  a list
values = sal_info.values()
max(values)

99000

**.pop()**

**.popitems**

**del**

In [37]:
poped = sal_info.pop('Austin')
sal_info

{'Atlanta': 88000, 'New York': 87000, 'Toronto': 99000}

In [38]:
sal_info.popitem() #randomly pop an item
sal_info

{'Atlanta': 88000, 'New York': 87000}

In [39]:
del sal_info['Atlanta']
sal_info

{'New York': 87000}

In [40]:
#multiple rows with the same key

with open(r"/content/TreeOrdersSubset.csv", mode='r') as infile:
  reader = csv.reader(infile)

  new_dict = {}

  key_list = []
  value_list = []

  for row in reader:
    key_list.append(row[0])
    value_list.append(row[1])
  for i in key_list:
    if key_list.count(i) > 1:
      ind = [j for j,val in enumerate(key_list) if val == i]
      sum_i = sum([int(value_list[e]) for e in ind])
      new_dict[i] = sum_i
  infile.close()

# Python Comprehensions:
1. list comprehension
2. dictionary comprehension
3. set comprehension
4. generator expressions

In [41]:
#making a dict using dict() function
favorite_language = dict(Mike='Python', David= 'Ruby', Amro='R', Sarah='Python')
favorite_language

{'Amro': 'R', 'David': 'Ruby', 'Mike': 'Python', 'Sarah': 'Python'}

Now, let's build *favorite_language* using dictionary comprehension

In [42]:
names = ['Mike', 'David', 'Amro', 'Sarah']
languages = ['Python', 'Ruby', 'R', 'Python']

fav_lang = {names[i]:languages[i] for i in range(len(names))}
fav_lang

{'Amro': 'R', 'David': 'Ruby', 'Mike': 'Python', 'Sarah': 'Python'}

In [43]:
#filtering through the dictionary using comprehension
python_lovers = {k:v for k,v in fav_lang.items() if v == 'Python'}
python_lovers

{'Mike': 'Python', 'Sarah': 'Python'}

**How to merge two dictionaries**

In [47]:
dict1 = {'name':'Mary', 'age':28, 'email':'mary@xyz'}
dict2 = {'name':'John', 'age':30, 'pet':'cat'}
dict1.update(dict2)
dict1

{'age': 30, 'email': 'mary@xyz', 'name': 'John', 'pet': 'cat'}