<a href="https://colab.research.google.com/github/mehrdadkazemi254/Python/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
mytuple1 = ('Mike', 'Jack', 'Jason')
mytuple2 = "Sarah", 'Lucy', "Anne"
mytuple3 = 'Mike', #even for a tuple with a single element you have to add "," otherwise it is gonna be for example a string in this case 
mytuple4 = tuple([i for i in range(3)])
mytuple4[-1]

2

In [34]:
len(mytuple4)

3

In [35]:
mytuple5 = tuple('hello there')
mytuple5

('h', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e')

In [36]:
mytuple5.count('l')

2

In [37]:
mytuple5.index('l') #first index of occurance

2

In [38]:
list1 = list(mytuple5)
list1

['h', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e']

In [39]:
tuple(list1)

('h', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e')

In [40]:
mytuple5[:3]

('h', 'e', 'l')

In [41]:
mytuple5[::-1]

('e', 'r', 'e', 'h', 't', ' ', 'o', 'l', 'l', 'e', 'h')

In [42]:
mytuple2 = "Sarah", 'Lucy', "Anne"
a1, a2, a3 = mytuple2
print(a1)
print(a2)
print(a3)

Sarah
Lucy
Anne

# Using * in tuple unpacking

In [43]:
t1 = tuple([i for i in range(6)])
q1, q2, *q3, q4 , q5= t1
print(q1)
print(q2)
print(q3)
print(q4)
print(q5)

0
1
[2, 3]
4
5

iterating through tuples is more effective than lists